*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F4FE 100%);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 160px;
}

.list-header {
  display: flex;
  margin-right: 36px;
}

.container-nav-header {
  display: flex;
  align-items: center;
}

.item-header {
  margin-right: 16px;
}

.item-header:last-child {
  margin-right: 0;
}

.link-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #102D4A;
}

.link-header:is(:hover, :focus) {
  color: #D1A1FF;
}

.button-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  padding: 16px 48px;
  border: 1px solid #102D4A;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #102D4A;
}

.button-header:is(:hover, :focus) {
  border: 1px solid #D1A1FF;
  cursor: pointer;
  color: #D1A1FF;
}

.container-section {
  background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
  padding-left: 148px;
  padding-top: 128px;
  padding-bottom: 148px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
}

.title-section-one {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: #102D4A;
  max-width: 610px;
  margin-bottom: 28px;
}

.p-section-one {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #7B7E86;
  max-width: 460px;
  margin-bottom: 32px;
}

.button-section-one {
  box-shadow: 1px 4px 24px rgba(199, 35, 35, 0.29);
  border-radius: 14px;
  background: #FF7446;
  border: 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 0.9;
  color: #FFFFFF;padding: 16px 36px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}

.button-section-one:is(:hover, :focus) {
  cursor: pointer;
  background: #fc6b3a;
}

.svg-section-one {
  max-width: 16px;
  max-height: 16px;
  margin-left: 16px;
}

.img-section-one {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.09);
  max-width: 720px;
}

.container-section-two {
  padding: 128px 148px;
}

.list-section-two {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sec-two-tit {
  margin-bottom: 120px;
}

.for-arrow {
  display: flex;
}

.svg-section-two {
  max-width: 130px;
  max-height: 40px;
  margin-top: 30px;
}

.icon-section-two {
  background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
  border-radius: 50%;
  max-width: 56px;
  max-height: 56px;
  margin-bottom: 12px;
  padding: 14px;
}

.img-section-two {
  margin-bottom: 12px;
}

.section-two-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #102D4A;
}

.w-h3-s-two {
  max-width: 256px;
  text-align: center;
}

.item-section-two {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.svg-section-two-item {
  max-width: 30px;
  max-height: 30px;
}

.div-nuber-sec-three {
  background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  font-weight: 500;
  font-size: 27px;
  line-height: 0.9;
  color: #FFFFFF;
  padding: 20px 16px;
  margin-bottom: 16px;
}

.padding-div {
  padding: 20px 14px;
}

.h3-section-three {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  color: #102D4A;
  max-width: 378px;
}

.list-section-three {
}

.margin-div {
  margin-right: 40px;
}

.width-sec {
  max-width: max-content;
}

.p-width {
  max-width: 910px;
  text-align: center;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-img:is(:hover, :focus) {
  cursor: pointer;
}

.container-four {
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-five {
  background: #2C2E54;
  padding: 120px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-five {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 72px;
}

.h3-five {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.4;
  max-width: 360px;
  text-align: center;
}

.list-five {
  display: flex;
}

.div-five {
  background: #444671;
  border-radius: 45px;
  transform: rotate(90deg);
  width: 306px;
  height: 370px;
}

.item-five {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
  align-items: center;
}

.item-five:last-child {
  margin-right: 0;
}

.img-footer {
  max-width: 455px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 160px;
  padding-top: 100px;
  padding-right: 180px;
  background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
}

.footer-cont-down {
  display: flex;
  justify-content: space-between;
}

.footer-desrc {
  padding-top: 40px;
}

.footer-copyright {
  padding-bottom: 32px;
  padding-top: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  font-family: 'Inter';
}

.p-f {
  max-width: 480px;
}

.list-item-da {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.list-item-da:last-child {
  margin-bottom: 0;
}

.div-text {
  padding-top: 80px;
}

.txt {
  padding-right: 180px;
}

.mobile {
  display: none;
}

.list-btn {
  display: none;
}

.da-list {
  display: none;
}

@media  screen and ( max-width: 767px) {
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F4FE 100%);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.m {
  display: none;
}

.container-header {
  display: block;
  padding: 16px 16px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}

.dekst {
  display: none;
}

.mobile {
  display: block;
}

.for-mob {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.container-nav-header {
  display: block;
}

.item-header {
  margin-right: 0;
}

.link-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #102D4A;
}

.link-header:is(:hover, :focus) {
  color: #D1A1FF;
}

.button-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  padding: 8px 16px;
  border: 1px solid #102D4A;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.button-header:is(:hover, :focus) {
  border: 1px solid #D1A1FF;
  cursor: pointer;
  color: #D1A1FF;
}

.container-section {
  background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
  padding: 80px 16px;
  display: flex;
  justify-content: space-between;
}

.title-section-one {
  font-size: 22px;
  margin-bottom: 32px;
}

.p-section-one {
  font-size: 12px;
  margin-bottom: 32px;
}

.button-section-one {
  font-size: 12px;
  padding: 12px 16px;
}

.button-section-one:is(:hover, :focus) {
  cursor: pointer;
  background: #fc6b3a;
}

.svg-section-one {
  max-width: 16px;
  max-height: 16px;
  margin-left: 4px;
}

.img-section-one {
  display: none;
}

.container-section-two {
  padding: 40px 16px;
}

.list-section-two {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sec-two-tit {
  margin-bottom: 40px;
}

.for-arrow {
  display: flex;
}

.svg-section-two {
  max-width: 130px;
  max-height: 40px;
  margin-top: 30px;
}

.icon-section-two {
  background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
  border-radius: 50%;
  max-width: 56px;
  max-height: 56px;
  margin-bottom: 20px;
  padding: 14px;
}

.img-section-two {
  display: none;
}

.mob-img {
  display: none;
}

.section-two-h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #F9F4FE;
}

.w-h3-s-two {
  max-width: 256px;
  text-align: center;
}

.item-section-two {
  margin-bottom: 40px;
  background-color: #2C2E54;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 280px;
}

.item-section-two:last-child {
  margin-bottom: 0;
}

.list-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.svg-section-two-item {
  max-width: 30px;
  max-height: 30px;
}

.div-nuber-sec-three {
  background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  font-weight: 500;
  font-size: 27px;
  line-height: 0.9;
  color: #FFFFFF;
  padding: 20px 16px;
  margin-bottom: 16px;
}

.padding-div {
  padding: 20px 14px;
}

.h3-section-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #F9F4FE;
  max-width: 378px;
  text-align: center;
}

.list-section-three {
  display: none;
}

.margin-div {
  margin-right: 0;
}

.width-sec {
  max-width: max-content;
}

.p-width {
  max-width: 910px;
  text-align: center;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-img:is(:hover, :focus) {
  cursor: pointer;
}

.container-four {
  display: none;
}

.container-five {
  background: #2C2E54;
  padding: 80px 16px;
  display: block;
}

.title-five {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 72px;
  text-align: center;
}

.h3-five {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.4;
  max-width: 360px;
  text-align: center;
  margin-bottom: 16px;
}

.list-five {
  display: block;
}

.div-five {
  background: #444671;
  border-radius: 35%;
  transform: rotate(90deg);
  width: 180px;
  height: 180px;
}

.item-five {
  margin-right: 0;
  margin-bottom: 40px;
}

.item-five:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.img-footer {
  max-width: 100%;
  margin-top: 20px;
  margin-left: 6px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 40px;
  padding-right: 16px;
  background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
}

.footer-cont-down {
  display: block;
}

.footer-desrc {
  padding-top: 40px;
}

.footer-copyright {
  padding-bottom: 32px;
  padding-top: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #757575;
  font-family: 'Inter';
}

.p-f {
  max-width: 480px;
  text-align: center;
}

.h {
  display: none;
}

.list-item-da {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.list-item-da:last-child {
  margin-bottom: 0;
}

.btn-ftr {
  margin-left: auto;
  margin-right: auto;
}

.ttl-ftr {
  text-align: center;
}

.an {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  padding: 8px 16px;
  border: 1px solid #102D4A;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #444671;
}

.an:is(:hover, :focus) {
  border: 1px solid #D1A1FF;
  cursor: pointer;
  color: #D1A1FF;
}

.li-b {
  padding: 8px 18px;
}

.da-list {
  display: none;
}

.div-text {
  background-color: #2C2E54;
  border-radius: 16px;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation {
  position: absolute;
}

.one {
  z-index: 1;
}

.two {
  z-index: -1;
}

.three {
  z-index: -2;
}

.four {
  z-index: -3;
}

.five {
  z-index: -4;
}

.an:is(:hover, :focus) .two {
  z-index: 2;
  border: 1px solid #D1A1FF;
  cursor: pointer;
  color: #D1A1FF;
}

.an:is(:hover, :focus) .three {
  z-index: 2;
}

.an:is(:hover, :focus) .four {
  z-index: 2;
}

.an:is(:hover, :focus) .five {
  z-index: 2;
}

#slider { /*положение слайдера*/
  position: relative;
text-align: center;
  top: 10px;
}

#slider{ /*центровка слайдера*/
margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
width: 20%;
float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
width: 500%;
line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
width: 100%;
overflow: hidden;
}

article img{ /*размер изображений слайдера*/
width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
float: left;
margin: 0 0 0 -84px; /*сдвиг влево*/
display: block;
height: 68px;
width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
float: right;
margin: 0 -84px 0 0; /*сдвиг вправо*/
display: block;
height: 68px;
width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
margin-left: 0;
}

#switch2:checked ~ #slides .image{
margin-left: -100%;
}

#switch3:checked ~ #slides .image{
margin-left: -200%;
}

#switch4:checked ~ #slides .image{
margin-left: -300%;
}

#switch5:checked ~ #slides .image{
margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
margin: -25% 0 0 0;
width: 100%;
height: 50px;
overflow-x: hidden;
}

#active label{ /*стиль отдельного переключателя*/
border-radius: 50%; /*скругление углов*/
display: inline-block; /*расположение в строку*/
width: 32px;
height: 32px;
background: #E1C1FF;
color: #102D4A;
padding: 4px;
font-family: 'Poppins', sans-serif;
}

.dsp-lbl {
  display: none;
}

#active{ /*расположение блока с переключателями*/
margin: 23% 0 0;
text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
background: #76c8ff;
border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
background: #2C2E54;
border-color: #DE82FF !important;
color: white;
padding: 4px;
font-family: 'Poppins', sans-serif;
}

#slides .image{ /*анимация пролистывания изображений*/
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
transition: opacity 0.2s ease-out;
}

}

@media  screen and ( min-width: 375px) and ( max-width: 767px) {
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F9F4FE 100%);
  }
  
  ul,
  ol {
    padding: 0;
    list-style: none;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .container-header {
    display: block;
    padding: 16px 16px;
  }
  
  .list-header {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }
  
  .dekst {
    display: none;
  }
  
  .mobile {
    display: block;
  }
  
  .for-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .container-nav-header {
    display: block;
  }
  
  .item-header {
    margin-right: 0;
  }
  
  .link-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #102D4A;
  }
  
  .link-header:is(:hover, :focus) {
    color: #D1A1FF;
  }
  
  .button-header {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    padding: 8px 16px;
    border: 1px solid #102D4A;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  .button-header:is(:hover, :focus) {
    border: 1px solid #D1A1FF;
    cursor: pointer;
    color: #D1A1FF;
  }
  
  .container-section {
    background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
    padding: 80px 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .title-section-one {
    font-size: 22px;
    margin-bottom: 32px;
  }
  
  .p-section-one {
    font-size: 12px;
    margin-bottom: 32px;
  }
  
  .button-section-one {
    font-size: 12px;
    padding: 12px 16px;
  }
  
  .button-section-one:is(:hover, :focus) {
    cursor: pointer;
    background: #fc6b3a;
  }
  
  .svg-section-one {
    max-width: 16px;
    max-height: 16px;
    margin-left: 4px;
  }
  
  .img-section-one {
    display: none;
  }
  
  .container-section-two {
    padding: 40px 16px;
  }
  
  .list-section-two {
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
  }
  
  .sec-two-tit {
    margin-bottom: 40px;
  }
  
  .for-arrow {
    display: flex;
    margin-bottom: 40px;
  }
  
  .svg-section-two {
    max-width: 130px;
    max-height: 40px;
    margin-top: 20px;
  }
  
  .icon-section-two {
    background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
    border-radius: 50%;
    max-width: 56px;
    max-height: 56px;
    margin-bottom: 20px;
    padding: 14px;
  }
  
  .img-section-two {
    display: none;
  }
  
  .mob-img {
    display: none;
  }
  
  .section-two-h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #F9F4FE;
  }
  
  .w-h3-s-two {
    max-width: 256px;
    text-align: center;
  }
  
  .item-section-two {
    margin-bottom: 40px;
    background-color: #2C2E54;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 280px;
  }
  
  .item-section-two:last-child {
    margin-bottom: 0;
  }
  
  .list-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .svg-section-two-item {
    max-width: 30px;
    max-height: 30px;
  }
  
  .div-nuber-sec-three {
    background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    font-weight: 500;
    font-size: 27px;
    line-height: 0.9;
    color: #FFFFFF;
    padding: 20px 16px;
    margin-bottom: 16px;
  }
  
  .padding-div {
    padding: 20px 14px;
  }
  
  .h3-section-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #F9F4FE;
    max-width: 378px;
    text-align: center;
  }
  
  .list-section-three {
    display: none;
  }
  
  .margin-div {
    margin-right: 0;
  }
  
  .width-sec {
    max-width: max-content;
  }
  
  .p-width {
    max-width: 910px;
    text-align: center;
  }
  
  .div-img {
    display: flex;
    justify-content: center;
  }
  
  .div-img:is(:hover, :focus) {
    cursor: pointer;
  }
  
  .container-four {
    display: none;
  }
  
  .container-five {
    background: #2C2E54;
    padding: 80px 16px;
    display: block;
  }
  
  .title-five {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 72px;
    text-align: center;
  }
  
  .h3-five {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.4;
    max-width: 360px;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .list-five {
    display: block;
  }
  
  .div-five {
    background: #444671;
    border-radius: 35%;
    transform: rotate(90deg);
    width: 180px;
    height: 180px;
  }
  
  .item-five {
    margin-right: 0;
    margin-bottom: 40px;
  }
  
  .item-five:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .img-footer {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 6px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 40px;
    padding-right: 16px;
    background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
  }
  
  .footer-cont-down {
    display: block;
  }
  
  .footer-desrc {
    padding-top: 40px;
  }
  
  .footer-copyright {
    padding-bottom: 32px;
    padding-top: 28px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #757575;
    font-family: 'Inter';
  }
  
  .p-f {
    max-width: 480px;
    text-align: center;
  }
  
  .h {
    display: none;
  }
  
  .list-item-da {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
  }
  
  .list-item-da:last-child {
    margin-bottom: 0;
  }
  
  .btn-ftr {
    margin-left: auto;
    margin-right: auto;
  }
  
  .ttl-ftr {
    text-align: center;
  }
  
  .an {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    padding: 8px 16px;
    border: 1px solid #102D4A;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  .an:is(:hover, :focus) {
    border: 1px solid #D1A1FF;
    cursor: pointer;
    color: #D1A1FF;
  }
  
  .li-b {
    padding: 8px 18px;
  }
  
  .da-list {
    display: none;
  }
  
  .div-text {
    background-color: #2C2E54;
    border-radius: 16px;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .animation {
    position: absolute;
  }
  
  .one {
    z-index: 1;
  }
  
  .two {
    z-index: -1;
  }
  
  .three {
    z-index: -2;
  }
  
  .four {
    z-index: -3;
  }
  
  .five {
    z-index: -4;
  }
  
  .an:is(:hover, :focus) .two {
    z-index: 2;
    border: 1px solid #D1A1FF;
    cursor: pointer;
    color: #D1A1FF;
  }
  
  .an:is(:hover, :focus) .three {
    z-index: 2;
  }
  
  .an:is(:hover, :focus) .four {
    z-index: 2;
  }
  
  .an:is(:hover, :focus) .five {
    z-index: 2;
  }
  
  }

@media  screen and ( min-width: 425px) and ( max-width: 767px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
      min-height: 100vh;
      scroll-behavior: smooth;
      text-rendering: optimizeSpeed;
      line-height: 1.5;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(180deg, #FFFFFF 0%, #F9F4FE 100%);
    }
    
    ul,
    ol {
      padding: 0;
      list-style: none;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    ol,
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
      margin: 0;
    }
    
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    
    a {
      text-decoration: none;
    }
    
    .container-header {
      display: block;
      padding: 16px 16px;
    }
    
    .list-header {
      display: flex;
      justify-content: space-around;
      margin-right: 0;
    }
    
    .dekst {
      display: none;
    }
    
    .mobile {
      display: block;
    }
    
    .for-mob {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }
    
    .container-nav-header {
      display: block;
    }
    
    .item-header {
      margin-right: 0;
    }
    
    .link-header {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.5px;
      color: #102D4A;
    }
    
    .link-header:is(:hover, :focus) {
      color: #D1A1FF;
    }
    
    .button-header {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.4;
      padding: 8px 16px;
      border: 1px solid #102D4A;
      border-radius: 10px;
      background-color: #FFFFFF;
    }
    
    .button-header:is(:hover, :focus) {
      border: 1px solid #D1A1FF;
      cursor: pointer;
      color: #D1A1FF;
    }
    
    .container-section {
      background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
      padding: 80px 16px;
      display: flex;
      justify-content: space-between;
    }
    
    .title-section-one {
      font-size: 22px;
      margin-bottom: 32px;
    }
    
    .p-section-one {
      font-size: 12px;
      margin-bottom: 32px;
    }
    
    .button-section-one {
      font-size: 12px;
      padding: 12px 16px;
    }
    
    .button-section-one:is(:hover, :focus) {
      cursor: pointer;
      background: #fc6b3a;
    }
    
    .svg-section-one {
      max-width: 16px;
      max-height: 16px;
      margin-left: 4px;
    }
    
    .img-section-one {
      display: none;
    }
    
    .container-section-two {
      padding: 40px 16px;
    }
    
    .list-section-two {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .sec-two-tit {
      margin-bottom: 40px;
    }
    
    .for-arrow {
      display: flex;
      margin-bottom: 40px;
    }
    
    .svg-section-two {
      max-width: 130px;
      max-height: 40px;
      margin-top: 20px;
    }
    
    .icon-section-two {
      background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
      box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
      border-radius: 50%;
      max-width: 56px;
      max-height: 56px;
      margin-bottom: 20px;
      padding: 14px;
    }
    
    .img-section-two {
      display: none;
    }
    
    .mob-img {
      display: none;
    }
    
    .section-two-h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.3;
      color: #F9F4FE;
    }
    
    .w-h3-s-two {
      max-width: 256px;
      text-align: center;
    }
    
    .item-section-two {
      margin-bottom: 40px;
      background-color: #2C2E54;
      border-radius: 8px;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 280px;
    }
    
    .item-section-two:last-child {
      margin-bottom: 0;
    }
    
    .list-btn {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 40px;
    }
    
    .svg-section-two-item {
      max-width: 30px;
      max-height: 30px;
    }
    
    .div-nuber-sec-three {
      background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
      box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
      border-radius: 50%;
      max-width: 60px;
      max-height: 60px;
      font-weight: 500;
      font-size: 27px;
      line-height: 0.9;
      color: #FFFFFF;
      padding: 20px 16px;
      margin-bottom: 16px;
    }
    
    .padding-div {
      padding: 20px 14px;
    }
    
    .h3-section-three {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      color: #F9F4FE;
      max-width: 378px;
      text-align: center;
    }
    
    .list-section-three {
      display: none;
    }
    
    .margin-div {
      margin-right: 0;
    }
    
    .width-sec {
      max-width: max-content;
    }
    
    .p-width {
      max-width: 910px;
      text-align: center;
    }
    
    .div-img {
      display: flex;
      justify-content: center;
    }
    
    .div-img:is(:hover, :focus) {
      cursor: pointer;
    }
    
    .container-four {
      display: none;
    }
    
    .container-five {
      background: #2C2E54;
      padding: 80px 16px;
      display: block;
    }
    
    .title-five {
      color: #FFFFFF;
      font-weight: 600;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 72px;
      text-align: center;
    }
    
    .h3-five {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 23px;
      line-height: 1.4;
      max-width: 360px;
      text-align: center;
      margin-bottom: 16px;
    }
    
    .list-five {
      display: block;
    }
    
    .div-five {
      background: #444671;
      border-radius: 35%;
      transform: rotate(90deg);
      width: 180px;
      height: 180px;
    }
    
    .item-five {
      margin-right: 0;
      margin-bottom: 40px;
    }
    
    .item-five:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
    
    .img-footer {
      max-width: 100%;
      margin-top: 20px;
      margin-left: 6px;
    }
    
    .footer-container {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      padding-top: 40px;
      padding-right: 16px;
      background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
    }
    
    .footer-cont-down {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .footer-desrc {
      padding-top: 40px;
    }
    
    .footer-copyright {
      padding-bottom: 32px;
      padding-top: 28px;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: #757575;
      font-family: 'Inter';
    }
    
    .p-f {
      max-width: 480px;
      text-align: center;
    }
    
    .h {
      display: none;
    }
    
    .list-item-da {
      display: flex;
      justify-content: space-between;
      margin-bottom: 76px;
    }
    
    .list-item-da:last-child {
      margin-bottom: 0;
    }
    
    .btn-ftr {
      margin-left: auto;
      margin-right: auto;
    }
    
    .ttl-ftr {
      text-align: center;
    }
    
    .an {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.4;
      padding: 16px 28px;
      border: 1px solid #102D4A;
      border-radius: 10px;
      background-color: #FFFFFF;
    }
    
    .an:is(:hover, :focus) {
      border: 1px solid #D1A1FF;
      cursor: pointer;
      color: #D1A1FF;
    }
    
    .li-b {
      padding: 16px 30px;
    }
    
    .da-list {
      display: none;
    }
    
    .div-text {
      background-color: #2C2E54;
      border-radius: 16px;
      padding: 16px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .animation {
      position: absolute;
    }
    
    .one {
      z-index: 1;
    }
    
    .two {
      z-index: -1;
    }
    
    .three {
      z-index: -2;
    }
    
    .four {
      z-index: -3;
    }
    
    .five {
      z-index: -4;
    }
    
    .an:is(:hover, :focus) .two {
      z-index: 2;
      border: 1px solid #D1A1FF;
      cursor: pointer;
      color: #D1A1FF;
    }
    
    .an:is(:hover, :focus) .three {
      z-index: 2;
    }
    
    .an:is(:hover, :focus) .four {
      z-index: 2;
    }
    
    .an:is(:hover, :focus) .five {
      z-index: 2;
    }
    
  }

@media  screen and ( min-width: 767px) and ( max-width: 1200px) {
      *,
      *::before,
      *::after {
          box-sizing: border-box;
      }
      
      body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(180deg, #FFFFFF 0%, #F9F4FE 100%);
      }
      
      ul,
      ol {
        padding: 0;
        list-style: none;
      }
      
      body,
      h1,
      h2,
      h3,
      h4,
      p,
      ul,
      ol,
      li,
      figure,
      figcaption,
      blockquote,
      dl,
      dd {
        margin: 0;
      }
      
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
      
      a {
        text-decoration: none;
      }

      .all {
        display: none;
      }

      .img-section-one {
        display: none;
      }
      
      .container-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 16px 16px;
      }
      
      .list-header {
        display: flex;
        justify-content: space-around;
        margin-right: 36px;
      }
      
      .for-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
      }
      
      .container-nav-header {
        display: flex;
      }
      
      .item-header {
        margin-right: 16px;
      }
      
      .link-header {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #102D4A;
      }
      
      .link-header:is(:hover, :focus) {
        color: #D1A1FF;
      }
      
      .button-header {
        font-weight: 600;
        font-size: 15px;
        line-height: 1.4;
        padding: 8px 16px;
        border: 1px solid #102D4A;
        border-radius: 10px;
        background-color: #FFFFFF;
      }
      
      .button-header:is(:hover, :focus) {
        border: 1px solid #D1A1FF;
        cursor: pointer;
        color: #D1A1FF;
      }
      
      .container-section {
        background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
        padding: 80px 16px;
        display: flex;
        justify-content: space-between;
      }
      
      .button-section-one:is(:hover, :focus) {
        cursor: pointer;
        background: #fc6b3a;
      }
      
      .svg-section-one {
        max-width: 16px;
        max-height: 16px;
        margin-left: 4px;
      }
      
      .for-arrow {
        display: flex;
        margin-bottom: 40px;
      }
      
      .svg-section-two {
        max-width: 130px;
        max-height: 40px;
        margin-top: 20px;
      }
      
      .icon-section-two {
        background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
        box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
        border-radius: 50%;
        max-width: 56px;
        max-height: 56px;
        margin-bottom: 20px;
        padding: 14px;
      }

.section-two-h3 {
    font-size: 16px;
}

.list-section-two {
    display: block;
}

.item-section-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

      .w-h3-s-two {
        max-width: 256px;
        text-align: center;
      }
      
      .item-section-two:last-child {
        margin-bottom: 0;
      }
      
      .list-btn {
        display: none;
      }
      
      .svg-section-two-item {
        max-width: 30px;
        max-height: 30px;
      }
      
      .div-nuber-sec-three {
        background: linear-gradient(154.49deg, #E1C1FF 6.61%, #DE82FF 89.72%);
        box-shadow: 0px 10px 22px -2px rgba(212, 152, 255, 0.6);
        border-radius: 50%;
        max-width: 60px;
        max-height: 60px;
        font-weight: 500;
        font-size: 27px;
        line-height: 0.9;
        color: #FFFFFF;
        padding: 20px 16px;
        margin-bottom: 16px;
      }
      
      .padding-div {
        padding: 20px 14px;
      }
      
      .h3-section-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #F9F4FE;
        max-width: 378px;
        text-align: center;
      }
      
      .list-section-three {
        display: none;
      }
      
      .margin-div {
        margin-right: 0;
      }
      
      .width-sec {
        max-width: max-content;
      }
      
      .p-width {
        max-width: 910px;
        text-align: center;
      }
      
      .div-img {
        display: flex;
        justify-content: center;
      }
      
      .div-img:is(:hover, :focus) {
        cursor: pointer;
      }
      
      .container-four {
        display: none;
      }
      
      .container-five {
        background: #2C2E54;
        padding: 80px 16px;
        display: block;
      }
      
      .title-five {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 72px;
        text-align: center;
      }
      
      .h3-five {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 23px;
        line-height: 1.4;
        max-width: 360px;
        text-align: center;
        margin-bottom: 16px;
      }
      
      .list-five {
        display: flex;
        justify-content: center;
      }
      
      .div-five {
        background: #444671;
        border-radius: 35%;
        transform: rotate(90deg);
        width: 180px;
        height: 180px;
      }
      
      .item-five {
        margin-right: 0;
        margin-bottom: 40px;
      }
      
      .item-five:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
      
      .img-footer {
        max-width: 100%;
        margin-top: 20px;
        margin-left: 6px;
      }
      
      .footer-container {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-top: 40px;
        padding-right: 16px;
        background: linear-gradient(203deg, rgba(248,96,255,0.6867997198879552) 14%, rgba(255,255,172,0.8828781512605042) 46%, rgba(189,190,194,0.8576680672268908) 100%);
      }
      
      .footer-cont-down {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
      }
      
      .footer-desrc {
        padding-bottom: 40px;
      }
      
      .footer-copyright {
        padding-bottom: 32px;
        padding-top: 28px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: #757575;
        font-family: 'Inter';
      }
      
      .p-f {
        max-width: 480px;
        text-align: center;
      }
      
      .h {
        display: none;
      }
      
      .list-item-da {
        display: flex;
        justify-content: space-between;
        margin-bottom: 76px;
      }
      
      .list-item-da:last-child {
        margin-bottom: 0;
      }
      
      .btn-ftr {
        margin-left: auto;
        margin-right: auto;
      }
      
      .ttl-ftr {
        text-align: center;
        font-size: 28px;
      }
      
      .an {
        font-weight: 600;
        font-size: 15px;
        line-height: 1.4;
        padding: 16px 28px;
        border: 1px solid #102D4A;
        border-radius: 10px;
        background-color: #FFFFFF;
      }
      
      .an:is(:hover, :focus) {
        border: 1px solid #D1A1FF;
        cursor: pointer;
        color: #D1A1FF;
      }
      
      .li-b {
        padding: 16px 30px;
      }
      
      .da-list {
        display: block;
      }
      
      .div-text {
        background-color: #2C2E54;
        border-radius: 16px;
        padding: 16px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
      }

      .animation {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-around;
      }

      .animation:last-child {
        margin-bottom: 0;
      }

      .one {
        margin-left: 0;
      }

      .two {
        margin-right: 0;
      }

      .three {
        margin-left: 0;
      }

      .four {
        margin-right: 0;
      }

      .five {
        margin-left: 0;
        justify-content: flex-start;
      }

      .dababy {
        rotate: -10deg;
        max-width: 160px;
      }

      .dab {
        transform: scale(-1, 1);
        rotate: 354deg;
      }

}